<%= render "shared/header" %>
<div class="work_buton">
<%= link_to 'お仕事発注', new_work_path, class: "work-up" %>
</div>
<div class="works_index">
  <% @works.each do |work| %>
    <p><%= work.title %></p>
  <% end %>
</div>
