// Place all the styles related to the user_contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.complete_contents {
  display: flex;
  justify-content: space-around;
}
.complete_content{
  background-color:#f3d2c1;
  border: 2px solid #000;
  text-align: center;
}