// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.work_title_link {
  text-decoration: none;
  color: rgb(222, 134, 238);
}
.work_title_link {
  text-decoration: none;
  color: rgb(222, 134, 238);
  opacity: 0.4;
}
.next_link {
  text-decoration: none;
  color: rgb(222, 134, 238);
}
.before_link {
  text-decoration: none;
  color: rgb(222, 134, 238);
}
.error-message {
  color: red;
  font-size: 20px;
  margin: 0 auto;
  width: 50%;
}
#work_start_time_1i {
  width: 60px;
}
#work_start_time_2i {
  width: 60px;
}
#work_start_time_3i {
  width: 60px;
}
#work_start_time_4i {
  width: 60px;
}
#work_start_time_5i {
  width: 60px;
}

